@charset "ISO-8859-1";

@font-face {
	font-family: myFirstFont;
	src: url(css/OpenSans-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
	font-family: myFirstFont;
}

body {
	background: #ffdcfd;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	margin: 0px 0px;
	font-family: myFirstFont;

}

body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: rgb(145, 248, 255);
	border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgb(255, 170, 244);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

h1 {
	font-weight: bold;
	margin: 0;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 7px;
	border: 1px solid #ffffff;
	background-color: #8cd2ff;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms cubic-bezier(0.4, 0, 0.2, 1);
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 15px 50px;
	height: 100%;
	text-align: center;
}

.input,
.userType {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
	outline-color: rgb(205, 50, 166);
	border-radius: 10px;
}

.container {
	background-color: #fff;
	background-color: #fff;
	border-radius: 26px;
	box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
	position: relative;
	overflow: hidden;
	width: 33%;
	padding: 1% 0%;
	/* min-height: 500px; */

}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
}

.form-container1 {
	position: sticky;
	top: 0;
	height: 100%;
	margin-left: 50%;
}

.log-in-container {
	left: 0;
	width: 100%;
	z-index: 2;
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
}

.overlay-container1 {
	position: absolute;
	top: 0;
	/* left: 50%; */
	width: 50%;
	height: 100%;
}

.overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(148deg, #ff9be8 50%, #7deeff);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
}

.overlay-right {
	right: 0;
}

.social-container {
	margin: 44px 0 22px;
}

.social-container a {
	border: 3px solid #DDDDDD;
	border-radius: 4%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	border-image-slice: 1;
	width: 128px;
	border-image-source: linear-gradient(to left, #fd98ff, #8bf5e9);
	border: double 4px transparent;
	border-radius: 12px;
	background-image: linear-gradient(#ffffff, white),
		radial-gradient(circle at top left, #ff9bf4, #a1edff);
	background-origin: border-box;
	background-clip: content-box, border-box;
}

.social-container a :hover,
input:focus,
input:hover,
.userType:hover,
.userType:focus {
	webkit-box-shadow: 10px 10px 99px 10px #ec6aff;
	-moz-box-shadow: 10px 10px 99px 10px lightpink;
	box-shadow: 0px 0px 7px 4px #ff76eb;
}

.check:hover,
.check:focus {
	box-shadow: 0px 0px 8px 3px tomato;
}

button:hover {
	-webkit-box-shadow: 10px 10px 99px 10px rgb(255, 157, 255);
	-moz-box-shadow: 10px 10px 99px 10px rgb(255, 139, 255);
	box-shadow: 0px 0px 7px 4px rgb(168, 245, 255);
}

.err {
	padding: 3% 6%;
	background-color: #ffb5e0;
	border-radius: 10px;
	color: black;
	font-size: 13px;
	margin: 8% 0% 1% 0%;
	width: 100%;
	font-weight: 500;
	border: 3px solid #f553c7;
}

.suc {
	padding: 3% 6%;
	background-color: #cfffb5;
	border-radius: 10px;
	color: black;
	font-size: 13px;
	margin: 8% 0% 1% 0%;
	width: 100%;
	font-weight: 500;
	border: 3px solid rgb(0, 255, 128);
}


.btn-msg {
	padding: 3% 9%;
	background: linear-gradient(45deg, tomato, #ffff34);
	background-color: red;
	border-radius: 7px;
	color: white;
	animation: example 3s ease infinite;
}

@ keyframes example {
	0% {
		transform: scale(1, 1);
	}

	50 % {
		transform: scale(1.1, 1.1);
	}

	100 % {
		transform: scale(1, 1);
	}
}